<!-- home.html -->
<div class="home">
    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron text-center">
                <h1>Welcome</h1>
                <h3>to my Angular.js Single Page App Demo</h3>

                <p>{{ message }}</p>

            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="col-sm-4 homePanel text-left">
                <div>
                    <h3>This is a demo of:</h3>
                    <ul>
                        <li>Angular.Js</li>
                        <li>Bootstrap</li>
                        <li>Responsive Web Design</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 homePanel text-left">
                <div>
                    <h3>Featuring:</h3>
                    <ul>
                        <li>Model/Controller</li>
                        <li>ng-route application</li>
                        <li>ng-animate application</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 homePanel text-left">
                <div>
                    <h3>Explore the pages for:</h3>
                    <ul>
                        <li>Lightning fast performance</li>
                        <li>Photo slider gallery built <br> with angular controllers/animations</li>
                        <li>CSS3 animations for clean transitions</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

